
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}

body{

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
    background-color: black;
    background-image: url(boss1.jpg);
    background-position: center;
    background-size: cover;
   
}
.second{
    width: 100%;
}
.first{
   
    
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 10px;
    scroll-behavior: smooth;
}
.navs {
   
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 700px;
  width: 100%;
  height: 60px;
  margin-top: 0;

 
}

.nav {
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 2px 2px black ;
    
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 700px;

}

.nav a, .navs a{
    color: white;
    text-decoration: none;
  

}
details{
    display: none;
}
.nav a:hover{
 
    color: rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
}
.navs{
    display: none;
}

.navs i{
    display: none;
    color: white;
margin-top: -20px;
padding-left: 30px;
padding-top: 1rem;


}

   

.nav i:hover{
    color: red;

}
.menu a, .menus a{
    display: none;

}
.nav img, .navs img{
 width:70px;
  height: 100%;

}
.aboutme{
    /* border: 1px solid white; */
    height: auto;
    width: 100%s;
    /* margin-top: 5rem; */
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    grid-template-rows: 100px;
    padding: 10px;
    gap: 10px;
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;
}

@keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
.holdabout{
    /* border: 1px solid red; */
}
.header{
    grid-column: 1 /4;
    padding-top: 1rem;
}
.header h1{
    font-family: sans-serif;
    font-size: 40px;
    color: white;
    animation: appear 5s linear;
    animation-timeline:view();
    animation-range: entry 30% cover 30%;


  padding: 10px;
}
.right{
    grid-column: 1;
    box-shadow: 0 0 5px 5px black ;
    background-image: url(akonani.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.left{
    grid-column: 2 / span 2;
    /* border: 1px solid blue; */
  display: grid;

  height: auto;

}
.info{
    /* border: 1px solid red; */
    height: 100%;
 
}
.info2{
    display: flex;
    flex-direction: column;
}
.infotwo{
    /* border: 1px solid white; */
    height: 100%;
    display: flex;
    justify-content: space-between  ;
    padding:  10px;
    
}
.infotwo i{
    color: red;
 
}
.infotwo h3{
    color: white;
    font-size: 10px;
}

.infotwo span{
    color: gray;
    font-size: 12px;
}


.info h2{
    color: red;
    padding: 10px;
    font-size: 30px;
}
.info p{
    color: gray;
    padding: 10px;
    text-align: justify;
    font-size: 15px;
}

.interest{
    /* border: 1px solid pink; */
    display: grid;
    grid-template-columns: 1 / 3 1fr;
    grid-template-rows: 100px auto;
    width: 100%;
    height: auto;
    padding: 10px ;
    gap: 10px;
}
.interest-box{
    /* border: 1px solid brown; */
}
.int{
    /* border: 1px solid rgb(255, 0, 255); */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 100px 100px;
    height: auto;
    gap: 10px;
    padding: 10px;
}
.interest-box h1{
    color: rgb(156, 156, 156);
    padding: 10px;
    padding-top: 2.5rem;
    font-size: 15px;
    animation: appear 5s linear;
    animation-timeline:view();
    animation-range: entry 30% cover 30%;
  }
.nine-box{
    border: 1px solid rgb(54, 54, 54);
    box-shadow: 0 0 5px 5px rgb(0, 0, 0) ;
    display: flex;
    justify-content: space-between;
    padding-right: 5rem;
    padding: 10px;
  animation: appear 5s linear;
  animation-timeline:view();
  animation-range: entry 30% cover 40%;


   
    align-items: center;
}
@keyframes appear{
    from{
        opacity: 0;
        scale: 0.4;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.nine-box h2{
    color: white;
    font-size: 20px;
}
.nine-box i{
    color: blue;
    font-size: 25px;
}
.nine-box i:hover{
    color: red;
    transition: 0.3s ease-in-out;
}
.nine-box img{
    width: 80px;
    height: 70px;
margin-left: -25px;

}

.skills{
    /* border: 1px solid orange; */
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1 / 3 1fr;
    grid-template-rows: 100px auto;
    gap: 10px;
    padding: 10px;

}
.skills-box{
    /* border: 1px solid orangered; */
  
    
   
}
.six{
    /* border: 1px solid orangered; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 100px;
    gap: 10px;
    padding: 10px; 
    height: auto;
}
.six-skills{
    border: 1px solid rgb(54, 54, 54);
    box-shadow: 0 0 5px 5px rgb(0, 0, 0) ;
    display: flex;
 align-items: center;
    justify-content: center;
    animation: appear 5s linear;
    animation-timeline:view();
    animation-range: entry 30% cover 40%;
}

.contactme{
    /* border: 1px solid white; */
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1 / 3 1fr;
    grid-template-rows: 100px auto;
    gap: 10px;
    padding: 10px;
}
.contact-box{
    /* border: 1px solid blue; */
}
.contact-box h1{
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    padding: 10px;
    padding-top: 2rem;
    animation: appear 5s linear;
    animation-timeline:view();
    animation-range: entry 30% cover 30%;
}
.con{
    display: grid;
    grid-template-columns: 1 / 3 1 / 3;
    grid-template-rows: 240px 500px;
}
.hold-address{
    /* border: 1px solid red; */

}

.foradd{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 grid-template-rows: 100px 100px;
 padding: 10px;
 gap: 10px;
 


}
.four-add{
    border: 1px solid rgb(54, 54, 54);
    box-shadow: 0 0 5px 5px rgb(0, 0, 0) ;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    animation: appear 5s linear;
    animation-timeline:view();
    animation-range: entry 30% cover 40%;
    align-items: center;
}
.four-add i{
    color: red;
    font-size: 25px;
}

.four-add h2{
color: white;
font-size: 20px;


}
.four-add span{
    color: gray;
    font-size: 15px;
}
.four-add a i{
padding-right: 53px;
padding-top: 10px;

    font-size: 20px;
    color: white;
    
}
.adjust  i{
 margin-right: 50px;
}
.adjust h2{
    margin-right: 75px;  
}

.skills-box h1{
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(156, 156, 156);
    padding: 10px;
    padding-top: 1.5rem;
    animation: appear 5s linear;
    animation-timeline:view();
    animation-range: entry 30% cover 40%;
}
.six-skills img{
    width: 40px;
    height: 40px;


}
.six-skills i{
    font-size: 40px;
    
    
}
.fa-html5{
    color: orange;
    
}
.fa-css3-alt{
    color: blue;
}
.fa-js{
    color: yellow;
}
.fa-figma{
    color: rgb(248, 188, 76);
}
.fa-java{
    color: rgb(243, 49, 49);
}
form {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

.input-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    
}

.input-row input {
    flex: 1;
    padding: 10px;
    background: transparent;
    color: white;
 
    outline: none;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.1);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
background: transparent;
    color: white;
    animation: appear 5s linear;
    animation-timeline:view();
    animation-range: entry 30% cover 40%;
    outline: none;
    resize: none;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.1);
    
    
}

textarea {
    height: 200px;
}
button{
    background-color: red;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    width: 200px;
    animation: appear 5s linear;
    animation-timeline:view();
    animation-range: entry 30% cover 40%;

  }
  .button-con{
    display: flex;
    justify-content: center;
    margin-top: 10px; 
   
  }
  button:hover {
    background-color: rgb(225, 17, 17);
  }


.project{
    /* border: 1px solid white; */
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1 / 3 1fr;
    grid-template-rows: 100px auto;
    padding: 10px;
    gap: 10px;
}
.twopro{
    /* border: 1px solid  blue; */

}
.twopro h1{
    color: white;
    font-size: 40px;
 padding-top: 2rem;
 animation: appear 5s linear;
 animation-timeline:view();
 animation-range: entry 30% cover 30%;
}
.tre{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 400px ;
    padding: 10px;
    gap: 10px;
  
}
.threepro{
    border: 1px solid rgb(54, 54, 54);
    box-shadow: 0 0 5px 5px rgb(0, 0, 0) ;
    animation: appear 5s linear;
    animation-timeline:view();
    animation-range: entry 30% cover 40%;
}
.pro1{
    background-image: url(firstproject.png);
    background-position: center;
    background-size: cover;
}
.pro2{
    background-image: url(pro1.png);
    background-position: center;
    background-size: cover;
}
.pro3{
    background-image: url(info.png);
    background-position: center;
    background-size: cover;
}


@media (max-width:1124px) {

    .first{
        width: 80%;
        padding: 0;
    }
    .navs{
        width: 100%;
        display: block;
    }
    .navs a{
        display: none;
    }
    .navs i{
        display: flex;
        color: white;
    }
    .menus a{
        display: flex;
    }
    .menus{
        margin-left: 10px;
        background-color: rgb(0, 0, 0);
        width: 15%;
        padding: 20px;
        border: 1px solid gray;
        border-radius: 20px;
    }
    .menus a:hover{
        color: red;
    }
    details{
        display: block;
        
    }
    
    .aboutme {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 400px 450px;
    height: auto;
    margin-top: 10rem;
    }

    .header {
        grid-column: 1;
    }

    .right,
    .left {
        grid-column: 1;
    }

    .right,
    .left {
      
    }
.right{
    border-radius: 50%;
    width: 40%;
    
    margin: 20px auto;
    
}
    .left {
      
    }
    .int{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 100px 100px 100px  100px 100px;
      
        
    }
    .interest{
        height: auto;
    }

   
    .six{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 100px 100px 100px 100px;
    height: auto;
    }


    form {
        padding: 15px;
    }

    .input-row {
        gap: 8px;
    }

    textarea {
        height: 180px;
    }

    .tre{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 400px 400px 400px;
        height: 840px;
    }
    .infotwo h3{
    
        font-size: 12px;
        
        
    }
   
    .infotwo span{
   
        font-size: 12px;
      
    }
    .par{
        font-size: 10px;
    }
    
    .info h2{
       
        font-size: 20px;
    }
    .info p{
       
        font-size: 15px;
    }
    .nine-box h2{
        font-size: 20px;
      
        padding-right: 5rem;
    }
 body{
    grid-template-columns: 1fr;
 }
    .second{
        display: none;
    }
   
    .six-skills i{
        font-size: 30px;
    }
    .six-skills img{
        width: 30px;
        height: 30px;
    }
      .header h1{
        font-size: 30px;
    }
}
@media screen and (max-width: 780px) {
    body{
        background-image: none;
    }
    .first {
        width: 100%;
        padding: 0;
    }
   
.menus{
    width: 25%;
}
      .aboutme {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 400px 700px;
    height: auto;
    }
    .right{
        border-radius: 50%;
        width: 50%;
 
        
        margin: 20px auto;
        
    }
      .interest{
        height: auto;
      }
      .int{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 100px  100px 100px 100px 100px 100px 100px 100px 100px;
        height: 600px;
      }
      .six{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 100px 100px 100px 100px 100px 100px;
        height: 350px;
      }
      .input-row {
        flex-direction: column;
    }

    .input-row input {
        width: 100%;
    }

    textarea {
        height: 160px;
    }
    .foradd{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 100px 100px 100px 100px;
    
       
    }
   
 .project{
    height: auto;
 }
    .tre{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 400px  400px 400px;
        height: auto;
    }
    .infotwo h3{
    
        font-size: 13px;
        
        
    }
    
    .infotwo span{
   
        font-size: 12px;
    }
    .nine-box h2{
        font-size: 20px;
      
        padding-right: 1rem;
    }
    .header h1{
        font-size: 20px;
    }
    .info h2{
        font-size: 15px;
    }
    .nine-box i{
        font-size: 15px;
    }
    .nine-box h2{
        font-size: 15px;
    }
    .six-skills i{
        font-size: 30px;
    }
    .six-skills img{
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 500px) {
    .first {
        width: 100%;
        padding: 0;
    }
    .nav {
        width: 100%;
    }
    .foradd{
        grid-template-columns: repeat(1,1fr);
      grid-template-rows: 100px 100px 100px 100px;
     
       
}
.aboutme {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 250px 400px;
height: auto;
}
.right{
    border-radius: 50%;
    width: 45%;
    
    margin: 20px auto;
    
}

.con{
    grid-template-rows: 500px 500px;
}

.six{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    height: auto;
  }
  .int{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 100px  100px 100px 100px 100px 100px 100px 100px 100px;
    height: auto;
  }
  .infotwo h3{
    
    font-size: 10px;
    
    
}
.infotwo i {
    padding-left: 5px;
}
.infotwo span{

    font-size: 10px;
}
.nine-box{
    padding: 50px;
}
.nine-box h2{
    font-size: 20px;
 
    padding-right: 2rem;
}
.left p{
    font-size: 10px;
}
.nine-box i{
    font-size: 15px;
}
.nine-box h2{
    font-size: 15px;
}
.contact-box h1{
    font-size: 20px;
}
.four-add h2{
    font-size: 15px;
}
.four-add i{
    font-size: 15px;
}
.four-add span{
    font-size: 12x;
}
.twopro h1{
    font-size: 20px;
}
}
